<section id="trade-form">

  <h1>Trade</h1>

  <div class="row">

    <div class="col-xs-12 col-md-6">

      <form name="tradeForm" class="form-group" ng-submit="processTradeRequest(tradeForm.$valid)" novalidate>

        <label for="symbol">Symbol</label>
        <input type="text" name="symbol" class="form-control" ng-model="formData.company" required>

        <label for="buy-sell">Buy/Sell</label>
        <select name="buy-sell" class="form-control" ng-model="formData.buySell">
          <option value="buy">BUY</option>
          <option value="sell">SELL</option>
        </select>

        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" class="form-control" ng-model="formData.quantity">

        <label for="date">Date</label>
        <input type="date" name="date" class="form-control" ng-model="formData.date" required>

        <label for="price">Price</label>
        <div class="price">{{ formData.price | currency }}</div>

        <label for="cost">Cost</label>
        <div class="cost">{{ formData.cost | currency }}</div>

        <input type="submit" class="btn btn-success" value="Place Order!" ng-disabled="tradeForm.$invalid">

      </form>

    </div>

    <div class="col-xs-12 col-md-6">

      <label>Cash Available:</label>
      <div class="cash-available">{{ cash | currency }}</div>

      <label>Order Status:</label>
      <div class="order-status">N/A</div>

    </div>

  </div>

</section>
