<section id="stocks-index">

  <form class="form-group">
    <input type="text" class="form-control" ng-model="symbol">
  </form>

  <table id="stocks-index" class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Price</th>
        <th>1d</th>
        <th>7d</th>
        <th>30d</th>
        <th>Trade?</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in stockData | orderBy:'company' | filter:symbol">
        <!--TODO: add clickable sort-->
        <td class="company">{{ data.company }}</td>
        <td class="price">{{ data.price | currency }}</td>
        <td class="one-day">{{ data["1d"] | currency }}</td>
        <td class="seven-day">{{ data["7d"] | currency }}</td>
        <td class="thirty-day">{{ data["30d"]  | currency }}</td>
        <td><a class="trade-link" ui-sref="app.trade" ng-click="populateTradeForm($event)">Trade</a></td>
      </tr>
    </tbody>
  </table>

</section>
